#excluding files from package manages
vendor
node_modules

#excluding IDE files
.idea

#excluding SLIM framework files
app/cache/*
app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep


#excluding runtime data
app/data/*
!app/data/.gitkeep

#ecluding precompiled asset files 
public/dist/css/pre/
public/dist/fonts/pre/
public/dist/js/pre/

#excluding image cache
public/images/xkcd/*
public/zip/*

#excluding deployment/dev files
servers.yml
public/.dev

#excluding test data
build/logs/clover.xml
mail-*-*-*.txt

build/
.build

.phpunit.result.cache