{% extends "layout.html.twig" %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <h3>XKCD Cache</h3>
    <p>
        This is the webinterface for the <a href="http://github.com/famoser/XKCD.Cache">XKCD Cache project</a>.<br/>
        You can investigate errors here by looking at the <a href="{{ path_for("comics_index") }}">comics</a> page
    </p>
{% endblock %}