{% extends "layout.html.twig" %}

{% block title %}Server Error{% endblock %}

{% block content %}
    <h3>a server error occurred</h3>
    <p><a href="{{ path_for("index") }}">go back to the start page</a></p>
{% endblock %}